body {
    background-color: #e8e8e8;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    margin: 0 auto;
    width: 400px;
    height: 600px;

    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    
}

#display {
    grid-area: 1 / 1 / 2 / 5;
    background-color: #e8e8e8;

    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
}

#zero {
    grid-area: 6 / 1 / 7 / 3;
}

.column-4 {
    background-color: #8c8c8c;
}
.row-1 {
    background-color: #b7b7b7;
}

.currentOperator-background {
    background-color: lightblue;
}

button, #display {
    border: none;
    border-radius: 5%;
    font-size: 2em;
}

button:hover {
    background-color: lightblue;
}